# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\alexp\Desktop\Files\Licenciatura\3-Ano\1-Semestre\Desenvolvimento_de_Aplicacoes_para_a_Web\Pratica\Aula_5\blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
